.main-chat
 .header
  .header__left
   test
   .header__left--member
    ttest
  .header__right
   = link_to "#", class: "header__right--btn" do
    Edit
 .main-chat__contents
  .main-chat__contents--box
   .contents__comment
    .contents__comment--name
     D
    .contents__comment--date
     2020/02/24
   .contents__comment--messages
    aa
   .contents__comment
    .contents__comment--name
     D
    .contents__comment--date
     2020/02/24
   .contents__comment--messages
    aa
 .main-chat__footer
  .footer__messages
   .footer__messages--box
    massssss
    .footer__message--icon
     %label{class: "footer__message--icon--image"}
      = icon('fa', 'image') 
      %input{type: "file"}

   .footer__messages--sousin
   = link_to "#", class: "footer__messages--sousin--btn" do
    Send