.side-ber
 .side-ber__header
  .top-tag
   .top-tag__name
    D
   .top-tag__box
    = link_to "#", class: "top-tag__item" do
     = icon('fa', 'edit') 
     %span<>
    = link_to "#", class: "top-tag__item-two" do
     = icon('fa', 'cog')
 .side-ber__contents
  .group
   .group__name
    d
   .group__list
    aa
  .group
   .group__name
    d
   .group__list
    aa